In [18]:
import pandas as pd

In [37]:

df = pd.read_csv('students.csv')

In [38]:
print("Full DataFrame:")
print(df)
print("\n" + "="*50 + "\n")
print(df.columns.tolist())

Full DataFrame:
       Name  Age  Grade CityAlice  20  85  New York
0       Bob   22     92     Paris NaN NaN       NaN
1   Charlie   21     78    London NaN NaN       NaN
2     Diana   23     88     Tokyo NaN NaN       NaN
3       Eve   20     95    Berlin NaN NaN       NaN

==================================================

['Name', 'Age', 'Grade', 'CityAlice', '20', '85', 'New York']

In [41]:
df.at[1,'Age']
df.at[2,'Name']

' Diana'

In [35]:
# Strip leading/trailing spaces from column names
df.columns = df.columns.str.strip()

# Get a single column (returns a Series)
print("All names:")
print(df['Name'])
print()
# Get multiple columns (returns a DataFrame)
print("Name and Grade columns:")
print(df[['Name', 'Grade']])
print("\n" + "="*50 + "\n")

All names:
0       Alice
1         Bob
2     Charlie
3       Diana
4         Eve
Name: Name, dtype: object

Name and Grade columns:
       Name  Grade
0     Alice     85
1       Bob     92
2   Charlie     78
3     Diana     88
4       Eve     95

==================================================

In [43]:

# ========== ACCESSING MULTIPLE SPECIFIC ELEMENTS ==========

# Get specific rows and columns using iloc
print("Grades of first 3 students:")
print(df.iloc[0:3, 2])  # rows 0-2, column 2
print()

# Get specific rows and columns using loc
print("Names and Ages of students at positions 1, 3:")
print(df.loc[[1, 3], ['Name', 'Age']])
print()

Grades of first 3 students:
0    92
1    78
2    88
Name: Grade, dtype: int64

Names and Ages of students at positions 1, 3:
       Name  Age
1   Charlie   21
3       Eve   20

In [54]:
# ========== CONDITIONAL ACCESS ==========

# Get rows where Age is greater than 21
print("Students older than 21:")
print(df[df['Age'] > 21])
print()
# Get specific column value where condition is met
print("Names of students with grade above 90:")
print(df[df['Grade'] > 90]['Name'])
print()

Students older than 21:
     Name  Age  Grade   City  20  85  New York
0     Bob   22     92  Paris NaN NaN       NaN
2   Diana   23     88  Tokyo NaN NaN       NaN

Names of students with grade above 90:
0     Bob
3     Eve
Name: Name, dtype: object